MYSQL_HOST=mysql
MYSQL_USER=user_name
MYSQL_PASSWORD=your_password
MYSQL_DATABASE=your_db_name
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_S3_BUCKET=your_bucket_name
AWS_REGION=your_region
