MYSQL_HOST=mysql
MYSQL_USER=root
MYSQL_PASSWORD=rootpass
MYSQL_DATABASE=taskdb
AWS_ACCESS_KEY_ID=your_access_key_here
AWS_SECRET_ACCESS_KEY=your_secret_key_here
AWS_S3_BUCKET=hari-taskmanager-bucket
AWS_REGION=ap-south-1